<!doctype html>

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>聊天室</title>
<meta name="description" content="">
<meta name="keywords" content="" />
<meta name="author" content="">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Plugins CSS -->
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/bootstrap/css/animate.min.css">
<link rel="stylesheet" href="/static/bootstrap/css/font-awesome.min.css"> <!-- Font Icons -->
<link rel="stylesheet" href="/static/bootstrap/css/vegas.min.css">

<!-- Theme CSS -->
<link rel="stylesheet" href="/static/bootstrap/css/reset.css">
<link rel="stylesheet" href="/static/bootstrap/css/style.css">
<link rel="stylesheet" href="/static/bootstrap/css/mobile.css">


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

<!--[if lt IE 9]>
	<script src="/static/bootstrap/js/html5shiv.min.js"></script>
	<script src="/static/bootstrap/js/respond.min.js"></script>
<![endif]-->

</head>

<body>
<div class="page-loader"></div>  <!-- Display loading image while page loads -->

<!--===== Begin Header =====-->
<header>
	<div class="container">
		<div class="row">

			<div class="col-sm-6">
				<div class="logo wow bounceInLeft" data-wow-delay="0.4s">
					<a  href="index.html" class="">聊天室</a>
				</div>
			</div>

			<div class="col-sm-6">
				<ul class="contact-list wow bounceInRight" data-wow-delay="0.4s">
					<a>登录</a><br/>
					<a>注册</a>
				</ul>
			</div>

		</div> <!-- /.row -->
	</div> <!-- /.container -->
</header>
<!--===== End Header =====-->


<!--===== Begin Count Down =====-->
<section>
	<div class="container">
		<div class="row">

			<div class="col-xs-12">
				<!-- 5.3 countdown container -->
				<div class="countdown-container" id="lwt-countdown">

				</div>
				<!-- end countdown container -->
			</div>

		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section>
<!--===== End Count Down =====-->

<!--===== Begin Footer =====-->
<footer>
	<div class="container">
		<div class="row">

			<div class="col-xs-12">
				<p class="wow bounceIn" data-wow-delay="0.7s">Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://www.baidu.com"></a></p>
			</div>

		</div> <!-- /.row -->
	</div> <!-- /.container -->
</footer>
<!--===== End Footer =====-->


<div id="jquery_jplayer_1"></div> <!-- Background Sound, Remove if you don't need this -->


<!-- Theme JS -->
<script src="/static/bootstrap/js/jquery-2.1.4.min.js"></script>
<script src="/static/bootstrap/js/wow.min.js"></script>
<script src="/static/bootstrap/js/jquery.lwtCountdown-1.0.js"></script>
<script src="/static/bootstrap/js/jquery.jplayer.min.js"></script>
<script src="/static/bootstrap/js/vegas.min.js"></script>
<script src="/static/bootstrap/js/theme.js"></script>


</body>
</html>